body {
    font-family: Arial, Helvetica, sans-serif;
}

.div2 {
    padding-left: 15px;
    background-color: #7cb3ff;
}
nav {
    background-color: #1678ff;
}
h1 {
    color: #abcfff;
}
h2 {
    color: #003c8f; 
}
.btn-primary {
    background-color: #002e6e;
}
.jumbotron {
    background-color: #abcfff;
}
.page-footer {
    background-color: #1678ff;

}
img {
    max-width: 50px;
    max-height: 50px;
}
a {
    color: white;
}
a:hover {
    color: white;
    text-decoration: none;

}